<div class="middle-box text-center animated fadeInDown">
    <h1 class="animated wobble">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </h1>
    <h3 class="font-bold text-danger animated flip">Activation Error</h3>

    <div class="error-desc ">
        The server encountered something unexpected that didn't allow it to complete the request.

        <form class="form-inline m-t" role="form">
            <a class="btn btn-sm btn-danger btn-block" ui-sref="login">Back to login</a>
        </form>
    </div>
</div>