<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Forgot password</h2>

                <p>
                    Enter your email address and your password will be reset and emailed to you.
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t" role="form" ng-submit="forgotPassword(email)" ng-hide="submitted">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address" required="" ng-model="email">
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>

                        </form>

                        <div class="form-horizontal alert alert-info animated tada" role="register" ng-show="submitted">
                            <span> {{info}} </span>
                            <hr>
                            <a class="btn btn-sm btn-info btn-block" ui-sref="login">Back to login</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Liga Smutnych Dżentelmenów
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016</small>
        </div>
    </div>
</div>