<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reports</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li class="active">
                <strong>Reports</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content" ng-init="getCurrentUserEmail()">
    <div class="row animated fadeInRight">
        <div class="col-md-8 col-md-offset-1">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Send new report</h3>
                </div>
                <form name="userForm" ng-init="getProjectsList()" ng-submit="sendReport(userForm.$valid)" class="ibox-content">
                    <div class="form-group col-lg-offset-1">
                        <div class="row m-t-lg">
                            <h4>Email*:</h4>
                            <input type="email" ng-model="email" required>
                        </div>
                        <div class="row m-t-md">
                            <h4>Number of projects created before (select date)*:</h4>
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" is-open="open" data-ng-click="open=true" ng-required="true" ng-model="date" required> </input>
                        </div>
                        <div class="row m-t-lg">
                            <h4>Choose project to receive information about succeeded and failed builds</h4>
                            <div class="project-list">
                                <table class="table table-hover" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                                    <tbody>
                                    <tr ng-repeat="p in projects">
                                        <td class="project-title">
                                            <a ui-sref="index.projects.details({name: p.name})">{{p.name}}</a>
                                            <br/>
                                            <small>{{p.owner}}</small>
                                        </td>
                                        <td>
                                            <label>Add to report</label>
                                            <input type="checkbox" name="selectedProjects" value="{{p}}" ng-checked="selection.indexOf(p) > -1" ng-click="toggleSelection(p)">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row m-t pull-right">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>