<section class="container login-form">
    <section>
        <form method="post" ng-submit="logIn(username, password)" role="login">
            <h3>Welcome in OpenVillage</h3>
            <div class="form-group">
                <input type="text" name="email" required class="form-control" placeholder="Enter nickname" ng-model="username"/>
                <span class="glyphicon glyphicon-user"></span>
            </div>

            <div class="form-group">
                <input type="password" name="password" required class="form-control" placeholder="Enter password" ng-model="password"/>
                <span class="glyphicon glyphicon-lock"></span>
            </div>

            <button type="submit" name="go" class="btn btn-primary btn-block">Login Now</button>

            <div ng-show="error" class="alert alert-warning">
                {{ error }}
            </div>

            <a href="/forgot">Reset password</a> or <a href="/registration">create account</a>
        </form>
    </section>
</section>