---
- name: install apt prerequisites
  apt:
    name: "{{ item }}"
    update_cache: yes
    state: present
  become: yes
  with_items:
    - curl
    - mongodb
    - mongodb-server
    - mongodb-clients

- name: run mongod service
  service:
    name: mongodb
    state: started
  become: yes

